@import "tailwindcss";

@theme {
  --color-primary: #1E40AF;
  --color-primary-light: #3B82F6;
  --color-primary-dark: #1E3A8A;

  --color-secondary: #F59E0B;
  --color-secondary-light: #FBBF24;
  --color-secondary-dark: #B45309;
}